{% extends 'base.html.twig' %}

{% block Message %}Contact {% endblock %}

{% block body %}
            <section id="contact">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>Contact :</h1>

                            {{ form_start(form) }}
                            <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                           {{ form_widget(form.Nom, {'attr': {'class': 'form-control','placeholder':'Nom'}}) }}
                                        {{ form_errors(form.Nom) }}
                                        </div>
                                        <div class="form-group">
                                          {{ form_widget(form.Prenom, {'attr': {'class': 'form-control','placeholder':'Prenom'}}) }}
                                        {{ form_errors(form.Prenom) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.Email, {'attr': {'class': 'form-control','placeholder':'Email'}}) }}
                                        {{ form_errors(form.Email) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                           {{ form_widget(form.Message, {'attr': {'class': 'form-control', 'id':'message','placeholder':'Message'}}) }}
                                        {{ form_errors(form.Message) }}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-lg-12 text-center">
                                        <div id="success"></div>
                                        {{ form_widget(form.Envoyer, {'attr': {'class': 'btn btn-xl'}}) }}
                                    </div>
                                </div>
                            {{ form_rest(form) }}

                            {# Fermeture de la balise <form> du formulaire HTML #}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>

                <div class="container">
                    <article>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h1>Lieu d'accueil :</h1>
                            </div>
                              <!-- /.col-md-6 -->
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <h2>Sur Lyon :</h2>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2783.9833160217095!2d4.8524522514003845!3d45.751480422146116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ea6f2eb5bbb5%3A0xfeedcc138f6ded51!2s91+Cours+Gambetta%2C+69003+Lyon!5e0!3m2!1sfr!2sfr!4v1459526691131"
                                        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen>
                                </iframe>
                                </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <h2>Sur Messimy :</h2>

                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2786.733700663741!2d4.671282551399045!3d45.69631592584301!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4f1cb6484d679%3A0x87b960abfabdd54c!2s6+Route+de+la+Saigne%2C+69510+Messimy!5e0!3m2!1sfr!2sfr!4v1459526601692"
                                        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen>

                                </iframe>
                            </div>
                            </div>
                    </article>

                    <article>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h1>Prix</h1>
                            </div>
                        </div>
                    </article>
                    </div>
            </section>

{% endblock %}