<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">

                <li><a href="{{ path('presentation') }}" {% block active %}class="active"{% endblock %}  >Présentation</a></li>

                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" id="test">Pourquoi et quand consulter ? <b class="caret"></b></a>
                    <ul class="dropdown-menu" aria-labelledby="test">
                        <li><a href="{{ path('_prendre_r_d_v') }}" >La nécessité de voir un psychologue</a></li>
                        <li><a href="{{ path('_pourquoi_consulter') }}">Pourquoi consulter ?</a></li>
                        <li><a href="{{ path('_quandconsulter') }}">Quand consulter ?</a></li>

                    </ul>
                </li>

                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown"  id="therapiedecouple">Thérapie de couple <b class="caret"></b></a>
                    <ul class="dropdown-menu" aria-labelledby="therapiedecouple">
                        <li><a href="{{ path('therapiequestceque') }}">La thérapie de couple, qu'est ce que c'est ?</a></li>
                        <li><a href="{{ path('_crisedanslecouple') }}">Ce qui peut faire crise dans le couple</a></li>
                        <li><a href="{{ path('traversercrise') }}">Traverser une crise : drame ou chance ?</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Consultations <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('consultations_adulte') }}">La consultation adulte  </a></li>
                        <li><a href="{{ path('consultations_adolescent') }}">La consultation adolescente</a></li>
                        <li><a href="{{ path('consultations_enfant') }}">La consultation enfant </a></li>
                        <li><a href="{{ path('modalites') }}">Modalités des consultations </a></li>
                        <li><a href="{{ path('analyse_pratique') }}">Analyse de la pratique </a></li>
                    </ul>
                </li>

                <li><a href="{{ path('_parentalite') }}">Parentalité</a></li>
                <li id="contactMenu"><a href="{{ path('contact') }}" >Contact</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
</nav>